
.menu-warp{
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: $secondary;
}

.menu-warp-first{
  margin-top: 60px;
  margin-bottom: -90px;
}

.menu-warp-second{
  margin-top: -90px;
  margin-bottom: 60px;
  position: absolute;
  z-index: 1;
}

@media (max-width: 991.98px){
  .menu-warp-first{
    margin-top: 0px ;
    margin-bottom: 0px;
  }
  .menu-warp-second{
    margin-top: 0px;
    margin-bottom: 0px;
    position: initial;
  }
}